body {
	background-color: #1f1f1f;
	color: darkgrey;
	font-family: 'Oswald', sans-serif;
}
h1 {
	margin: 10px;
	display: inline-block;
}
.grid {
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-columns: 1fr;
	width: 80%;
	margin: auto;
	text-align: center;
}
h3 {
	margin: 0px;
	display: inline;
	font-size: 2.5vh;
}
.open-note {
	display: inline-block;
	border: 1px solid grey;
	min-width: 60px;
}
.activated {
	background-color: lightgray;
}
.boxes {
	display: grid;
	grid-template-columns: repeat(9, 11%);
	width: 100%;
	height: 7vh;
	border: 1px solid white;
	min-width: 480px;
}
button {
	margin: 0px;
	height: 40%;
	margin-top: 22px;
	font-family: 'Oswald', sans-serif;
	background-color: rgb(255, 160, 160);
	border: none;
	font-size: 15px;
	font-weight: 300;
}
header {
	display: flex;
	justify-content: center;
}